{%extends 'base.html'%}
{%block title%} 
About
{%endblock%}
{%block stylesheet%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Shadows+Into+Light" />
{%endblock%}
{%block extrastyle%} 
<style>
    h1 {
        position: fixed;
        top: 10%;
        left: 50;
        z-index: 999;
        text-align: center;
        color:white;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
    }
    h1 { font-family: "Shadows Into Light"; font-size: 80px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
    p {
        color:white;
        font-family: "Shadows Into Light";
        font-size: 25px;
        line-height: 1.6;
    }
    body {
        padding: 4%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),url("/static/img/about.png");
        background-repeat: no-repeat;
	      background-size: cover;
    }
   
</style>
{%endblock%}
{%block content%}
<h1>About</h1>
<br>
<p>Sharkies is a game that takes you on a fun and interesting treasure hunt to some of the most dangerous parts of the world’s oceans. Throughout your journey, you will have to take several decisions, depending upon which the game decides if you will survive or not in shark infested waters.<br>
The game was made using html, CSS, JavaScript, Python and machine learning. It compares the user’s choices with the ones of real shark attack victims and predicts the user’s chances of survival. <br>
So lets find out if you will survive, or die a gruesome death…..Good luck!!!</p>
    <br>
    
{%endblock%}
