{%extends 'base.html'%} 
{%block title%} 
    Developer Details
{%endblock%}
{%block stylesheet%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{%endblock%}
{%block extrastyle%} 
<style>
    body {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),url("/static/img/devinf.png");
      background-repeat: no-repeat;
        background-size: cover;
    }
    h1 {
      color: white;
    }
    .header {
      position: absolute;
      top:100px;
      bottom: 0;
      left: 0;
      right: 55%;
      font-size: 70px;
    }
    .header h1 {
      font-size: 70px;
    }
    .content {
      position: absolute;
      top:37%;
      bottom: 0;
      left: 60px;
      right: 55%;
      color: white;
      font-size: 30px;
    }
    a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 4px;
}
.img-niveditha {
  position: absolute;
      top:120px;
      bottom: 0;
      left: 776px;
      right: 0;
      border-radius: 50%;
}
.img-niveditha-desc {
      position: absolute;
      top: 352px;;
      bottom: 0;
      left: 776px;
      right: 0;
      border-radius: 50%;
      color: white;
}
.img-nihal-desc {
      position: absolute;
      top: 352px;;
      bottom: 0;
      left: 1173px;
      right: 0;
      border-radius: 50%;
      color: white;
}
.img-nihal {
      position: absolute;
      top:120px;
      bottom: 0;
      left: 1173px;
      right: 0;
      border-radius: 50%;
}
.img-pranav {
      position: absolute;
      top:550px;
      bottom: 0;
      left: 776px;
      right: 0;
}
.img-pranav-desc {
      position: absolute;
      top: 778px;
      bottom: 0;
      left: 770px;
      right: 0;
      border-radius: 50%;
      color: white;
}
.img-varun {
      position: absolute;
      top:550px;
      bottom: 0;
      left: 1173px;
      right: 0;
}
.img-varun-desc {
  position: absolute;
      top: 778px;
      bottom: 0;
      left:  1182px;
      right: 0;
      border-radius: 50%;
      color: white;
}


  </style>
{%endblock%}
{%block content%}
<div class="header">
  <h1>About the Developers</h1>
</div>
<div class="content">
  <ul>
    <li><strong>Niveditha Sivan :      </strong> <a href="https://www.linkedin.com/in/niveditha-sivan-909915210/" class="button" target="_blank"> Linkedin</a></li>
    <br>
    <li><strong>Nihal Srivastava :     </strong> <a href="https://www.linkedin.com/in/nihal-srivastava-7708a71b7/" class="button" target="_blank"> Linkedin</a></li>
    <br>
    <li><strong>Pranav Viswanathan :    </strong> <a href="https://www.linkedin.com/in/pranav-viswanathan-7976711b7/" class="button" target="_blank"> Linkedin</a></li>
    <br>
    <li><strong>Varun Kamath :     </strong> <a href="https://www.linkedin.com/in/varun-kamath-b29873198/" class="button" target="_blank"> Linkedin</a></li>
  </ul>
</div>
<div class="img-niveditha">
  <img src="/static/img/niveditha.png" alt="Niveditha Sivan" width="150" height="200">
</div>
<div class="img-niveditha-desc">
  <h3>Niveditha Sivan</h3>
</div>
<div class="img-nihal">
  <img src="/static/img/nihal.png" alt="Nihal Srivastava" width="150" height="200">
</div>
<div class="img-nihal-desc">
  <h3>Nihal Srivastava</h3>
</div>
<div class="img-pranav">
  <img src="/static/img/pranav.png" alt="Pranav Viswanathan" width="150" height="200">
</div>
<div class="img-pranav-desc">
  <h3>Pranav Viswanathan</h3>
</div>
<div class="img-varun">
  <img src="/static/img/varun.png" alt="Varun Kamath" width="150" height="200">
</div>
<div class="img-varun-desc">
  <h3>Varun Kamath</h3>
</div>
{%endblock%}
