{%extends 'base.html'%} 
{%block title%} 
    Developer Details
{%endblock%}
{%block stylesheet%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{%endblock%}
{%block extrastyle%} 
<style>
    body {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),url("/static/img/devinf.png");
      background-repeat: no-repeat;
        background-size: cover;
    }
  </style>
{%endblock%}
{%block content%}
   
{%endblock%}