{%extends 'base.html'%} 
{%block title%} 
    Developer Details
{%endblock%}
{%block stylesheet%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{%endblock%}
{%block extrastyle%} 
<style>
    body {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),url("/static/img/devinf.png");
      background-repeat: no-repeat;
        background-size: cover;
    }
    .img-niveditha {
        position: absolute;
        top: 110px;
        left: 750px;
        right: 0;

    }
    .img-niveditha:hover{
        opacity: 0.5;
    }
    .img-pranav:hover{
        opacity: 0.5;
    }
    .img-nihal:hover{
        opacity: 0.5;
    }
    .img-varun:hover{
        opacity: 0.5;
    }
    
    .img-niveditha h3 {
      position: absolute;
        top: 240px;
        left: 30px;
        right: 0;
        color: white;
    }
    .img-nihal {
        position: absolute;
        top: 110px;
        left: 1150px;
        right: 0;

    }
    .img-nihal h3 {
      position: absolute;
        top: 240px;
        left: 30px;
        right: 0;
        color: white;
    }
    .img-pranav {
        position: absolute;
        top: 540px;
        left: 750px;
        right: 0;

    }
    .img-pranav h3 {
      position: absolute;
        top: 240px;
        left: 30px;
        right: 0;
        color: white;
    }

    .img-varun {
        position: absolute;
        top: 540px;
        left: 1150px;
        right: 0;

    }
    .img-varun h3 {
      position: absolute;
        top: 240px;
        left: 30px;
        right: 0;
        color: white;
    }
    img {
      border-radius: 80%;
    }
    .header {
      position: absolute;
        top: 130px;
        left: 0;
        right: 750px;
        color: white;
        
    }
    .header h1 {
      font-size: 60px;
    }
    .names {
      position: absolute;
        top: 350px;
        left: 200px;
        right: 750px;
        color: white;
        line-height: 1.6;
    }
    .ele {
      font-size: 40px;
    }
  </style>
{%endblock%}
{%block content%}
<div class="header">
    <h1>Developer Details</h1>
</div>
<div class="names">
  <ul>
    <li class="ele">Niveditha Sivan</li>
    <li class="ele">Nihal Srivastava</li>
    <li class="ele">Pranav Viswanathan</li>
    <li class="ele">Varun Kamath</li>
  </ul>
</div>
<div class="img-niveditha">
  <a href="https://www.linkedin.com/in/niveditha-sivan-909915210/" target="_blank"><img src="static/img/niveditha.png" width="200" height="200" alt="Niveditha"></a>
  <h3>Niveditha Sivan</h3>
</div>

<div class="img-nihal">
  <a href="https://www.linkedin.com/in/nihal-srivastava-7708a71b7/" target="_blank"><img src="static/img/nihal.png" width="200" height="200" alt="Niveditha"></a>
  <h3>Nihal Srivastava</h3>
</div>

<div class="img-pranav">
  <a href="https://www.linkedin.com/in/pranav-viswanathan-7976711b7/" target="_blank"><img src="static/img/pranav.png" width="200" height="200" alt="Niveditha"></a>
  <h3>Pranav Viswanathan</h3>
</div>

<div class="img-varun">
  <a href="https://www.linkedin.com/in/varun-kamath-b29873198/" target="_blank"><img src="static/img/varun.png" width="200" height="200" alt="Niveditha"></a>
  <h3>Varun Kamath</h3>
</div>
   
{%endblock%}
